 <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lh3.googleusercontent.com/-JEZkWhW0l8c/VuDT4fV7NQI/AAAAAAAAA3Y/A4BbpZDlb8M/s1600/Ankit%252520edit94383.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Photo Uploader</h3>
          <h5 class="light grey-text text-lighten-3"> An easy way to share photos </h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Photo Uploader</h3>
          <h5 class="light grey-text text-lighten-3">An easy way to share photos</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Photo Uploader</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

<style>
     a.logo{
      margin-left: 30px;
      font-size: 25px;
     }

</style>

<script>
    $(document).ready(function(){
      $('.slider').slider({height : 800});
    });
</script>